.main{ 
    background-color:rgb(248, 247, 227);
    width: 100%;
    float: left;
    min-height: 650px;
    height: 2100px;
 }
 *{
    box-sizing: border-box;
    font-family: sans-serif;

 }
 body{
    background-color: white;
    margin: 0;
    font-family: sans-serif;
 }