.main{ 
    background-color:rgb(248, 247, 227);
    width: 100%;
    min-height: 1200px;
 }
 *{
    box-sizing: border-box;
    font-family: sans-serif;

 }
 body{
    background-color: dark;
    margin: 0;
    min-height: 650px;

 }
 footer{
   min-height: 100%;
 }