.footerReact{
    background-color: #33B2FF;
    
}
.menuPrincipal{
    background-color: #33B2FF;
    
}

.background-image{
  
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
